MONGODB_URI=YOUR_MONGODB_URI
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/takashi_photos
CLOUD_NAME=YOUR_CLOUDINARY_CLOUDNAME
API_KEY=YOUR_CLOUDINARY_API_KEY
API_SECRET=YOUR_CLOUDINARY_API_SECRET
CLOUDINARY_NOTIFICATION_URL=YOUR_CLOUDINARY_NOTIFICATION_URL
IMAGE_IMPORT_DIR=PATH_TO_LOCAL_IMAGES
ACCESS_TOKEN_SECRET=YOUR_JWT_ACCESS_TOKEN_SECRET
