# fly.toml app configuration file generated for takashi-photos on 2024-07-23T22:20:46-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'takashi-photos'
primary_region = 'ewr'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[deploy]
  release_command = "pnpm -C server db:migrate"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
